<style>
<!-- Main -->
body {
    text-align: center;
  }
}
.heading3 {
  font-size: 50px;
}
.text {
    font-family: serif;
}
.container {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}
.content {
  background-color: lightgrey;
  width: 100%;
  float: none;
}
.footer {
  background-color: darkgrey;
  clear: both;
}
.navigation {
text-align: center;
background-color: lightblue;
width: 25%;
float: right;
}
<!-- Index -->
.heading2 {
    font-size: 25px;
    font-family: serif;
    font-style: italic;
  }
.nohassle {
text-align: center;
}
.github {
  font-size: 50px;
}
.mainbanner {
 width: 960px;
 height: 250px;
}
#Title {
    font-size: 50px;
    text-decoration: underline;
}
<!-- About Us -->
 .aboutusbanner{
   float: right;
   style="width: 416px; height: 243px"
 }
<!-- Services -->
.pricing{
  float: none;
}
.unitsavail{
  float: none;
  text-decoration: underline;
}
<!-- contact -->
<!-- Additional info -->

</style>
