/*! HTML5 Boilerplate v9.0.1 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

<!-- About Us -->
 .aboutusbanner{
   float: right;
   style="width: 416px; height: 243px"
 }
<!-- Services -->
.pricing{
  float: none;
}
.unitsavail{
  float: none;
  text-decoration: underline;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
   <link href="https://fonts.googleapis.com/css?family=Roboto:400,700"
   rel="stylesheet">
   <link rel="stylesheet" href="fonts/fonts.css"> <!-- Font face CSS link -->
   <link rel="stylesheet" href="css/normalize.css">
   <link rel="stylesheet" href="css/main.css">
   <link rel="stylesheet" href="css/styles.css">
   /* HEADER */
   header {
     width: 100%;
     height: 70px;
     background-image: linear-gradient(0deg, rgba(0,0,0,0.00) 0%, rgba(0,0,0,0.50) 25%);
     position: absolute;
   }
.header-content {
     display: flex;
     align-items: center;
     max-width: 1200px;
     margin: 0 auto;
     padding: 0 20px;
     height: 100%;
   }
   .header-text {
     margin-left: 20px;
     margin-right: auto;
   }

header .logo {
  float: left;
}

.main-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.main-nav li a{
  list-style: none;
  display: inline-block;
  margin: 0 15px;
}
.main-nav li a{
  list-style: none;
  color: white;
  text-decoration: none;
  font-family: 'built_titling', Helvetica, sans-serif;
  font-weight: 200;
  font-size: 20px;
  letter-spacing: 4px;
  padding: 15px 30px;
}
.github {
  font-size: 50px;
}
/* END OF HEADER */

#hero {
  position: relative;
  width: 1000px;
  height: 600px;
  background-image:
  linear-gradient(to bottom, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.4) 100%),
  url("../img/mainbanner.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#hero .container {
  display: flex;
  align-items: center;
  height: 700px;
}
.hero-text {
  max-width: 90%;
  text-align: center;
  margin: 0 auto;
}
.hero-text .hero-title {
  font-family: 'built_titling', Helvetica, sans-serif;
  font-size: 25px;
  margin: 10px 0px;
  color: #FFFFFF;
  font-weight: normal;
  line-height: 1.1;
  white-space: normal;
}
.hero-text .hero-tag {
  font-family: 'built_titling', Helvetica, sans-serif;
  font-size: 15px;
  font-weight: normal;
  font-style: italic;
  color: #FFFFFF;
}
.btn-primary {
  text-decoration: none;
  display: inline-block;
  font-family: 'built_titling', Helvetica, sans-serif;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 3px;
  background: #BF0000;
  color: white;
  padding: 12px 22px;
  border: none;
  outline: none;
}
div.relative-element {
  position: relative;
  top: 50px;
  left: 50px;
}
.container {
  max-width: 940px;
  margin: 0 auto;
}
body {
     padding-top: 80px;
     font-family: 'Roboto', sans-serif;
}
.github-section {
  text-align:left;
  margin-top: -50px;
  position: relative;
}
.github {
  display: block;
  margin: 0 auto;
}

.main-nav a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    display: block;
    text-align: left;
    padding: 10px;
}

.nav-menu.active {
    display: block;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    z-index: 1000;
}

.menu-button {
  position: fixed;
  top: 15px;
  left: 100px;
  background-color: #BF0000;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  font-size: 24px;
  z-index: 2000;
}
.nav-menu {
  position: fixed;
  top: 35px;
  left: 80px;
  width: 275px;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 15px;
  margin: 15px;
  display: none;
  z-index: 1500;
  border-radius: 5px;
}

/* Make sure the menu shows when toggled */
.menu-visible {
    display: block;
}

/* Fix for mobile responsiveness */
@media screen and (max-width: 768px) {
    .menu-button {
        display: block;
    }

    .main-nav {
        display: none;
    }
}

/* About Us */
.aboutustext{
  color: white;
}
/* Services */
.pricing{
  color: white;
}
/* Contact Us */
.contactinfo{
  color: white;
}
.tipstext{
  color: white;
}
/* Additional Info */



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
